    

    .text-holder {
        width:50%;
    }
    .container {
        display: block;
        width: 100vw;
        height: 50vh;
        margin-right: auto;
        margin-left: auto;
        grid-auto-columns: 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        }
    
    .left {
        float:left;
    }
    
    .right {
        float: right;
    }
    .img {
        width: 300px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .icon {
        width: 100%;
        max-width: 30px;
        height: auto; 
     }